html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Rubik, sans-serif;
    overflow: hidden;
    background-color: #FFFFFF;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

#container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #1671e7, #c567d7, #ff69ac, #ff8f7d, #ffc460, #f9f871);
}